[% META title = "Play" %]

[% coursename = [ "WH", "YN", "S" ] %]
<h1>GAME OVER</h1>

<h2>Record</h2>
[% n = 0 %]
[% FOREACH course IN [ WH, YN, S ] %]
<h1>Course [% n %]: [%coursename.$n %]-questions</h1>

<table>
<th>[% course.try %] question(s) attempted. [% course.score %] question(s) completed. [% c.config.${coursename.$n}.win - course.score %] question(s) unfinished.<br>
[% course.questionchance %] question and [% course.answerchance %] answer chances remained.
[% n = n+1 %]
[% END %]
