[% META title = "Play" %]

[% courseno = {WH => 1, YN => 2, S => 3} %]
<h1>GAME OVER</h1>
<h1>Course [% courseno.$course %]: [% course %]-question</h1>
<input type="hidden" name="course" value="[% course %]">
<table>
<th>[% tries %] question(s) attempted. [% score %] question(s) completed.<br>
[% questions %] more question, [% answers %] more answer chance(s) left.
